html {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;   
}
/* Navbar custom css */
.navbar-custom {
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.bg-white {
    background-color: #ffffff;
}

.vr {
   border-left: 1px solid #cccccc;
   border-right: 1px solid #cccccc; 
}
.nav-link-color {
    color: #777777 !important;
}

.header-title {
    background-color: #4aaaa5;
    padding: 10px;
    margin: 0%;
}
/* END - Navbar custom css */

body {
    background-image: url("../images/shattered.png"); 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100%;
    color: #777777;
}

/* Container*/
.container {
    max-width: 960px;
}

.container-title-color {
    color: #4aaaa5;
}
/* END Container */

/* About - custom css */
.img-profile {
    max-width: 200px;
    max-height: 200px;
}
/* END - About - custom css */

/*  Portfolio - cards class */
.card-title-bg {
    background-color: #4aaaa5;
}

.card-max-size {
    max-width: 200px;
    max-height: 200px;
}

.card-img-overlay-bt {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
} 

.card {
    margin:  0 auto ; 
}
/* END - Portfolio - cards class */

/* Footer - classes */
.footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    width: 100%; 
}

.footer-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Contact */
.bg-btn {
    background-color: #4aaaa5;
}